name: Build Tauri App (All OS)

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: dtolnay/rust-toolchain@stable

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install -y \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf

      - name: Install deps
        run: |
          cd tauri-testbench
          npm install

      - name: Build Tauri
        run: |
          cd tauri-testbench
          npm run tauri build

      - uses: actions/upload-artifact@v4
        with:
          name: tauri-${{ matrix.os }}
          path: tauri-testbench/src-tauri/target/release/bundle
